h1,
h2,
h3,
h4,
p {
    color: aliceblue;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
        sans-serif;
}
body {
    background-color: rgb(36, 42, 48);
}
button:hover {
    box-shadow: 5px 5px rgba(0, 0, 0, 0.178);
}
.stats {
    background-color: rgb(70, 48, 90);
    border: 2px dashed darkcyan;
    opacity: 0;
}
.game-grid {
    background-color: black;
    border: 2px dashed blue;
    position: relative;
    box-shadow: 5px 5px rgba(90, 121, 72, 0.336);
    max-width: 500px;
    height: 400px;
}
.player {
    animation: playerAnim 0.5s infinite;
    position: absolute;
    width: 9px;
    height: 13px;
    background-image: url("img/gloton/g1.png");
}
.move-up-player {
    transform: rotate(-90deg);
}
.move-down-player {
    transform: rotate(90deg);
}
.move-left-player {
    transform: rotate(-180deg);
}
.move-right-player {
}
.lost {
    font-size: 50px;
    text-align: center;
    margin: 0;
    text-shadow: 2px 2px #000000;
    animation: lost 1.5s infinite;
    font-style: oblique;
}
.fixed-stats{
    font-size: 20px;
    text-shadow: 2px 2px #000000;
}
.game-over{
    background-color: rgba(118, 131, 255, 0.5);
    padding: 15px;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.fruit {
    position: absolute;
    width: 12px;
    height: 12px;
}
@keyframes playerAnim {
    20% {
        background-image: url("img/gloton/g1.png");
    }
    40% {
        background-image: url("img/gloton/g2.png");
    }
    60% {
        background-image: url("img/gloton/g3.png");
    }
    80% {
        background-image: url("img/gloton/g2.png");
    }
    100% {
        background-image: url("img/gloton/g1.png");
    }
}
@keyframes lost {
    0% {
        opacity: 1;
        color: rgb(226, 43, 43);
    }
    50% {
        opacity: 0.65;
        color: rgb(255, 136, 0);
    }
    100% {
        opacity: 1;
        color: rgb(226, 43, 43);
    }
}

